.cache
*.swp
compile_commands.json

build/*

tests/desktop/*

tests/web/build/CMakeFiles
tests/web/build/*.wasm
tests/web/build/*.txt
tests/web/build/Makefile
tests/web/build/*.data
tests/web/build/*.html
tests/web/build/*.js
tests/web/build/*.cmake

tests/assets/*.json
tests/assets/*.ttf
tests/assets/*.gltf
tests/assets/*.glb
tests/assets/*.blend
tests/assets/*.blend1
tests/assets/*.ttf
tests/assets/*.png
tests/assets/*.jpg
tests/assets/*.jpeg
tests/assets/*.bmp
tests/assets/textures/*
tests/assets/models/*
tests/assets/fonts/*
